/*-- scss:defaults --*/

// typeface
@font-face {
    font-family: "Aspekta";
    src: url("/fonts/Aspekta-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

@import "https://www.nerdfonts.com/assets/css/webfont.css";

// colours
$white: #fff;
$black: #000;
$primary: #f29100;
$secondary: #3c3c3c;
$blue: #b9dbef;

$body-bg: $white;
$body-color: $secondary;
$navbar-fg: $body-color;
$navbar-bg: $primary;
$link-color: $blue;

$font-family-base: "Aspekta", sans-serif;
$font-family-heading: "Space Grotesk", sans-serif;

/*-- scss:rules --*/

h1, h2, h3, h4 {
    color: $primary
}

.callout {
    border-left-color: $primary !important;
}

.btn {
    border: 2pt solid $primary;
}